.title{
    text-align: center;
    color: rgb(53, 30, 75);
    
}
.jumbotron{
    margin-top: -25px;
}
.intro{
    text-align: center;
    font-family: 'Akaya Telivigala', cursive;
}
.body{
    background-image: url(../images/bg-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.title1{
    text-align: center;
    font-family: 'Akaya Telivigala', cursive;

}
#homepage{
    height: 100px;
}
