.title{
    text-align: center;
    color: rgb(53, 30, 75);
    
}
.jumbotron{
    margin-top: -25px;
}
.intro{
    text-align: center;
    font-family: 'Akaya Telivigala', cursive;
}
.body{
    background-image: url(../images/bg-2.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -30px;
    color: whitesmoke;
    font-size: large;
    font-weight: bold;
}
.title1{
    text-align: center;
    font-family: 'Akaya Telivigala', cursive;

}
#homepage{
    height: 600px;
}
#footer{
    background-color: black;
    height: auto;
    text-align: center;
    padding: 5px;
  
}
.btn{
    width: 100%;
    height: 100px;
}
