
{% extends 'bootstrap/base.html'%}
{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='css/index.css')}}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap" rel="stylesheet">
{% endblock %}
<!-- Navbar block-->
{% block navbar %}
    {% include 'navbar.html'%}
{% endblock%}
{% block content %}
<div class="jumbotron">
    <h1 class="title" >Hey {{current_user.username}}</h1>
    <h2 class="intro"> Your first impression in a 60 seconds pitch!! Welcome to Pitch for Pitch.</h2>

</div>
<div class="body">
    <div class="row">
        <div class="col-md-6" id="homepage" >
            <h2 class="title1">How important it is.</h2>
            <br><br>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
        </div>
        <div class="col-md-6" id="homepage" >
            <button class="btn btn-primary" ><a href=""></a>Social Pitches</button>
            <button class="btn btn-primary" ><a href=""></a>Pick up lines</button>
            <button class="btn btn-primary" ><a href=""></a>Motivational Pitches</button>
           <a href="/business/category"> <button class="btn btn-primary" >Business Pitches</button></a>
            <a href="/spiritual/category"><button class="btn btn-primary" >Spiritual Pitches</button></a>
            <button class="btn btn-primary" ><a href=""></a>Mood lifting Pitches</button>
        </div>

    </div>

</div>

<div class="container-fluid" id="footer">
    <div class="row">
        <div class="col-md-4">
            <h3>Contact us on Social Media</h3>
            <ul>
                <li>Facebook: @pitch4pitch</li>
                <li>Instagram: @pitch4pitch</li>
                <li>Twitter: @pitch4pitch</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Get in touch through call</h3>
            <ul>
                <li>Safaricom: 0712548793</li>
                <li>Airtel: 01125254498</li>
                <li>Telkom: 0775258645</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Visit Our Offices</h3>
            <ul>
                <li>Main Branch: Nairobi CBD</li>
                <li>Kikuyu Branch: Kikuyu Shopping Centre.</li>
            </ul>

        </div>

    </div>

</div>
{% endblock%}

